:root { 
--gray_600:#7f7f7f; 
--white_A700_d1:#ffffffd1; 
--gray_500:#adadad; 
--blue_gray_400:#8d8d8d; 
--light_green_700_4c:#7793414c; 
--blue_gray_900_4f:#2632384f; 
--green_900:#008000; 
--blue_A200:#4285f4; 
--light_green_A200_63:#c7ff5c63; 
--lime_A200_42:#f1ff5242; 
--black_900:#000000; 
--blue_100_19:#c0dcea19; 
--white_A700_bf:#ffffffbf; 
--light_green_700:#779341; 
--blue_100_26:#c0dcea26; 
--blue_gray_900_66:#26323866; 
--blue_gray_900:#263238; 
--white_A700:#ffffff; 
--light_blue_300_1e:#52c5ff1e; 
}